* {
    margin: 0;
  }
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

:root{
    --default-font:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --primary-color: #2374EE;
}
body{
    background: url(/img/20240201_161037.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .BIM img{ */
    /* zoom:43%; */
    /* opacity:0.8 ; */
/* } */

aside {
    align-items: center;
    background-color: #000000;
    margin-top: 0;
    margin-right:50rem;
    margin-bottom: 0;
}

.Vicky img{
   width: 16rem;
   height: 16rem;
   border: solid #272121 0.6rem;
   border-radius: 180px;
   margin-left: 4rem;
   margin-top: 30px;
}

/* Image effect */

.Vicky img:hover{
   border: none;
   width: 17rem;
   height: 18rem;
}
.Vicky h1{
    font-family: var(--default-font);
    font-weight: 900;
    font-size: 2.6rem;
    color: #ffff;
    margin-left: 5rem;
}

.inform{
    margin-left: 50px;
}

.inform svg{
    color: azure;
    font-size: 2rem;
    align-items: center;
    margin-bottom: 8rem;
    margin-top: 1rem;
}

.img1 {
    margin-left: 1rem;
    border: #272121 1px solid;
    background-color: #2a1f1f;
    padding: 0.8rem;
    border-radius: 6rem;
    /* width: 4rem; */
    /* height: 3.9rem; */
}

.img2 {
    margin-left: 0.8rem;
    border: #272121 1px solid;
    background-color: #2a1f1f;
    padding: 0.8rem;
    border-radius: 6rem;
    /* width: 4rem; */
    /* height: 3.9rem; */
}

.img3 {
    margin-left: 0.8rem;
    border: #272121 1px solid;
    background-color: #2a1f1f;
    padding: 0.8rem;
    border-radius: 6rem;
    /* width: 4rem; */
    /* height: 3.9rem; */
}

.img4 {
    margin-left: 0.8rem;
    border: #272121 1px solid;
    background-color: #2a1f1f;
    padding: 0.8rem;
    border-radius: 6rem;
    /* width: 4rem; */
    /* height: 3.9rem; */
}

.about_me {
    margin-left: 1.9rem;
    font-family: var(--default-font);
}

.about_me a {
    text-decoration: none;
    color: aliceblue;
}

.about_me svg {
    color: antiquewhite;
    font-size: 2rem;
}

.about_1 {
    margin-left: 1rem;
    margin-bottom: 1.2rem;
}

.about_2  {
    margin-left: 1rem;
    margin-bottom: 1rem;
    opacity: 0.3;
}

.about_3 {
    margin-left: 1rem;
    margin-bottom: 1rem;
    opacity: 0.3;
}

.about_4 {
    margin-left: 1rem;
    margin-bottom: 1rem;
    opacity: 0.3;
}

.about_5 {
    margin-left: 1rem;
    margin-bottom: 1.2rem;
    opacity: 0.3;
}

.about_me span{
    margin-left: 1rem;
    margin-bottom: 40px;
    /* margin: 23px; */
}
/* styling Portfolio */

                   /* portfolio */

.bbb{
    font-family: var(--default-font);
    font-size: 1.4rem;
    color: #f1f9fbf6;
    position: center;
    margin-right: 6rem;
}

.bbb h2 {
    font-size: 3rem;
    margin-left: 13rem;
    text-align: left;
}

.bbb p {
    text-align: right;
    margin-left: 5rem;

}

.odd svg{
   font-size: 2.9rem;
   color:white ;
   margin-left: 2rem;
}

.odd button{
   text-decoration: none;
   background-color: var(--primary-color);
   color: #ffff;
   font-family: var(--default-font);
   font-size: 1.5rem;
   border-radius: 15px 0;
   opacity: 0.4;
}

.tex{
    margin-bottom: 0;
    margin-top: 6rem;
}

.tex p {
    font-family: var(--default-font);
    color: azure;
    margin-left: 10rem;
    /* margin-top: 4rem */
}

        /* effect */
.inform svg:hover {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.about_me span:hover{
    font-size: 2rem;
    text-decoration: underline;
}

/* main section */

.send{
    position: absolute;   
    top: 80%;
    right: 2px; 
    margin-left: 46rem;
}

.main {
    font-family: var(--default-font);
    color: rgb(242, 251, 243);
    line-height: 2.5rem;
}

.main p{
    font-size: 2.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.4;
}

.main h1 {
    font-size: 3.6rem;
    opacity: 0.4;
}
   /* main effect */
.main h1:hover{
    text-decoration: underline;
    opacity: 0.8;
}
.main p:hover{
    opacity: 0.8;
}

.main2 {
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: rgb(19, 18, 18);    
}
.main2:hover {
    font-size: 2.2rem;
    color: var(--primary-color);
}